parameters:
  level: 2
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - vendor
  scanDirectories:
    - %currentWorkingDirectory%/../../../ # Wordpress Dir
  scanFiles:
    - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
    - %rootDir%/../../php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
    - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
  ignoreErrors:
    - # ignore false positive
        message: '#Constant WC_ABSPATH not found#'
        paths:
          - 'includes/class-plugin.php'
    - # ignore false positive
        message: '#Action callback returns bool but should not return anything#'
        paths:
          - 'includes/class-gateway-easycredit.php'
    - # ignore false positive
        message: '#Function apply_filters invoked with 3 parameters, 2 required#'
        paths:
          - 'templates/review-order.php'
