.ratenkaufbyeasycredit-payment-details::after {
    display: block;
    content: "";
    clear: both;
}

.ratenkaufbyeasycredit.checkout-review-button {
	float:right;
	width:50%;
	margin-top:20px;
}
.ratenkaufbyeasycredit.checkout-review-button #place_order {
	width:100%;
}

easycredit-express-button {
  display:block;
  margin-bottom:20px;
}
