.woocommerce-checkout-payment .wc_payment_methods .payment_method_ratenkaufbyeasycredit input,
.woocommerce-checkout-payment .wc_payment_methods .payment_method_ratenkaufbyeasycredit label:before {
  float: left;
  margin-right: 8px;
  height: 42px;
}

.ratenkaufbyeasycredit-review-container .woocommerce-customer-details .col2-set,
.ratenkaufbyeasycredit-review-container .ratenkaufbyeasycredit-payment-details .col2-set {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  /* Reset */
  float: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.ratenkaufbyeasycredit-review-container .woocommerce-customer-details .col2-set > [class*='col-'],
.ratenkaufbyeasycredit-review-container .ratenkaufbyeasycredit-payment-details .col2-set > [class*='col-'] {
  flex: 0 0 100%;
  width: 100%;

  /* Reset */
  float: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.ratenkaufbyeasycredit-review-container .ratenkaufbyeasycredit-payment-details .col2-set > [class*='col-'] {
  margin-bottom: 3em;
}
@media (min-width: 768px) {
  .ratenkaufbyeasycredit-review-container .woocommerce-customer-details .col2-set > [class*='col-'],
  .ratenkaufbyeasycredit-review-container .ratenkaufbyeasycredit-payment-details .col2-set > [class*='col-'] {
    flex: 0 0 calc(50% - 15px);
    width: calc(50% - 15px);
  }
}

.ratenkaufbyeasycredit-payment-details::after {
    display: block;
    content: "";
    clear: both;
}

.ratenkaufbyeasycredit.checkout-review-button {
	float:right;
	width:50%;
	margin-top:20px;
}
.ratenkaufbyeasycredit.checkout-review-button #place_order {
	width:100%;
}

easycredit-express-button {
  display:block;
  margin-bottom:20px;
}
